<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">

</head>

<body>
   <section class="bg-light fixed-top">
<!--         <ul class="nav nav-pills justify-content-end p-3 ">
           
            <li class="nav-item px-3" role="presentation">
                <button class="nav-link active" type="button" data-bs-toggle="pill"
                    aria-label="You are currently in a profile">Profile</button>
            </li>
            <li class="nav-item px-3" role="presentation">
                <button class="nav-link " type="button" data-bs-toggle="pill" onclick="location.assign('/requestlist)">Requests</button>
            </li>
            <li class="nav-item px-3" role="presentation">
                <button class="nav-link " type="button" data-bs-toggle="pill" area-label="veliyera"
                    onclick="logout()">Logout</button>
            </li>
            
        </ul> -->
        <nav class="navbar navbar-expand-lg bg-light p-3">
                <a href="" class="navbar-brand"></a>
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#colla" style="font-size:15px"><span class="navbar-toggler-icon "></span></button>
                <div class="collapse navbar-collapse justify-content-end " id="colla">
                     <ul class="nav nav-pills  p-2 d-flex flex-sm-column flex-lg-row align-items-center abc">
                            <li class="nav-item p-2">
                                <button type="button" class="nav-link active text-white fw-semibold cc" data-bs-toggle="pill">Profile</button> 
                            </li>
                            <li class="nav-item p-2">
                                <button type="button" class="nav-link  fw-semibold" data-bs-toggle="pill" onclick="location.assign('/requestlist')">Requests</button> 
                            </li>
                            <li class="nav-item p-2">
                                <button type="button" class="nav-link  fw-semibold" data-bs-toggle="pill" onclick="logout()">Logout</button>
                            </li>
                            
                        </ul>
                </div>
            </nav>

    </section>
    <section class="bg2 vh-100 d-flex justify-content-center cen" >
        <div class="container">
            <div class="row  d-flex justify-content-center">
                <div class="col-lg-6">
                        <div class="card rounded rounded-5 mt-5">
                            <div class="card-body">
                                <div class="val">
                                 <div class="d-flex flex-column align-items-center  ">
                                  <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png"
                                         alt="profile" class="rounded rounded-circle bor bg-white"
                                             style="width:150px;height:150px" />
                                   <div id="user"class="colo fw-bold fs-4"></div>
                                 </div>
                                <hr>
                               <div class="text-black fw-semibold fs-5 d-flex justify-content-center mb-3" aria-label="This is your personal information if you want to edit you can click on edit button to edit">Information</div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="kaipesi aen">Phone</div>
                                        <div class="col d-flex phone">
                                            <p class='text-muted' id="phone"></p>
                                            <!-- Button trigger modal -->

                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" aria-labelledby="phones" role="button"></i>
                                            <span id="phones" class="d-none">Click on this button to edit phone number</span>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Phone Number
                                                            </h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                             <label class="m-1">Enter Phone Number</label><br>
                                                            <input type="tel" class="rounded rounded-pill p-1 mt-3"
                                                                id="phoneinput" maxlength="10">
                                                                <p id="phoneerr" class="fw-bold text-danger"></p>
                                                                <p id="phoneerrmsg" class="fw-bold text-success"></p>
                                                                
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary" 
                                                                onclick="phone()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="kaipesi aen">Whatsapp</div>
                                        <div class="col d-flex phone">
                                            <p class='text-muted' id="whatphone"></p>
                                            <!-- Button trigger modal -->

                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                                data-bs-target="#whatsappmodal" aria-label="Click on this button to edit Whatsapp number" role="button"></i>
                                            <span id="whatphone" class="d-none" aria-hidden="true">Edit Whatsapp number</span>

                                            <!-- Modal -->
                                            <div class="modal fade" id="whatsappmodal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Whatsapp Number
                                                            </h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                             <label class="m-1">Enter Whatsapp Number</label><br>
                                                            <input type="tel" class="rounded rounded-pill p-1 mt-3"
                                                                id="whatphoneinput" maxlength="10">
                                                                <p id="whaterr" class="fw-bold text-danger"></p>
                                                                <p id="whaterrmsg" class="fw-bold text-success" ></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary"
                                                                onclick="whatphone()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="mugavari">Current Address</div>
                                        <div class="col d-flex">
                                            <p class='text-muted' id="add"></p>
                                            <i class="bi bi-pencil-fill text-danger" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal2" aria-labelledby="addressread" role="button"></i>
                                           <span id="addressread" class="d-none" aria-hidden="true">Edit Current Address</span>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal2" >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Current Address</h1>
                                                        
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                         <label class="m-1">Enter Current Address</label><br>
                                                        <input type="text" class="rounded rounded-pill p-1 mt-3"
                                                            id="address">
                                                            <p id="adderr" class="fw-semibold text-danger"></p>
                                                             <p id="adderrmsg" class="fw-semibold text-success"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary" 
                                                            onclick="address()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                       
                                    </div>
                                     <div class="col">
                                        <div class="text-black fs-4" area-label="mugavari">Permanent Address</div>
                                        <div class="col d-flex">
                                            <p class='text-muted' id="peradd"></p>
                                            <i class="bi bi-pencil-fill text-danger" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal9" aria-labelledby="peraddre" role="button"></i>
                                           <span id="peraddre" class="d-none" aria-hidden="true">Edit Permanent Address</span>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal9" >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Permanent Address</h1>
                                                        
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                         <label class="m-1">Enter Permanent Address</label><br>
                                                        <input type="text" class="rounded rounded-pill p-1 mt-3"
                                                            id="peraddress">
                                                            <p id="peradderr" class="fw-semibold text-danger"></p>
                                                            <p id="peradderrmsg" class="fw-semibold text-success"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary" 
                                                            onclick="peraddress()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                       
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="kuraipaadu sathavitham">Disability Percentage
                                        </div>
                                        <div class="col d-flex">
                                            <p class='text-muted' id="per"></p>
                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal3" aria-labelledby="per" role="button"></i>
                                             <span id="per" class="d-none" aria-hidden="true">Click on this button to edit Disability Percentage</span>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal3">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Disability Percentage</h1>
                                                        
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                         <label class="m-1">Enter Disability Percentage</label><br>
                                                        <input type="text" class="rounded rounded-pill p-1 mt-3"
                                                            id="perinput" maxlength="3">
                                                            <p id="diserr" class="fw-semibold text-danger"></p>
                                                            <p id="diserrmsg" class="fw-semibold text-success"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary" 
                                                            onclick="percentage()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="pirantha thedhi">Date Of Birth</div>
                                        <div class="col d-flex">
                                            <p class='text-muted' id="dob"></p>
                                            <!-- role=button is for (is equal to) cursor pointer -->
                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal1" aria-labelledby="dob" role="button"></i>
                                            <span id="dob" class="d-none" aria-hidden="true">Edit Date Of Birth</span>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal1" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel" >Date Of Birth</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                             <label class="m-1">Enter DateofBirth</label><br>
                                                            <input type="date" class="rounded rounded-pill p-1 mt-3"
                                                            id="dobinput">
                                                            <p id="doberr" class="fw-semibold text-danger"></p>
                                                            <p id="doberrmsg" class="fw-semibold text-success"></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary" 
                                                                onclick="dob()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col">
                                        <div class="text-black fs-4" area-label="thozhil">Profession</div>
                                        <div class="col d-flex">
                                            <p class='text-muted' id="pro"></p>
                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal7" aria-labelledby="proed" role="button"></i>
                                            <span id="proed" class="d-none" aria-hidden="true">Click on this button to edit profession</span>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal7">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Profession</h1>
                                                        
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label class="form-label mt-2 fw-semibold" area-label="ungal thozhil">Select Your Profession</label>
                                            <div class="mt-2 row p-1" role="radiogroup" aria-labelledby="genrd">
                                            <span class="d-none" aria-hidden="true" id="genrd">Please select Anyone Gender from Radio Button</span>
                                            <input type="radio" class="btn-check" name="profession" id="pro1" autocomplete="off"
                                                 value="Government" area-label="aan" onclick="choosepro()">
                                            <label class="btn btn-outline-primary d-flex col-auto align-items-center m-1 " for="pro1" aria-hidden="true">Government</label>

                                            <input type="radio" class="btn-check" name="profession" id="pro2" autocomplete="off"
                                                value="Private" area-label="pen" onclick="choosepro()">
                                            <label class="btn btn-outline-primary d-flex col-auto align-items-center m-1" for="pro2" aria-hidden="true">Private</label>

                                            <input type="radio" class="btn-check" name="profession" id="pro3" autocomplete="off"
                                                value="Selfemployed" area-label="maatru paalinam" onclick="choosepro()">
                                            <label class="btn btn-outline-primary d-flex col-auto align-items-center m-1" for="pro3" aria-hidden="true">Selfemployed</label>
                                            
                                            <input type="radio" class="btn-check" name="profession" id="pro4" autocomplete="off"
                                                value="Unemployed" area-label="maatru paalinam" onclick="choosepro()">
                                            <label class="btn btn-outline-primary d-flex col-auto align-items-center m-1" for="pro4" aria-hidden="true">Unemployed</label>
                                            <input type="radio" class="btn-check" name="profession" id="pro5" autocomplete="off"
                                                value="Student" area-label="maatru paalinam" onclick="choosepro()">
                                            <label class="btn btn-outline-primary d-flex col-auto align-items-center m-1" for="pro5" aria-hidden="true">Student</label>
                                        </div>
                                                     
                                                    </div>
                                                    <p id="proerr" class="fw-semibold text-danger"></p>
                                                    <p id="proerrmsg" class="fw-semibold text-success"></p>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary" 
                                                            onclick="profession()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col">
                                        <div class="text-black fs-4" area-label="kadavu sollai thirutha">Change PIN</div>
                                        <div class="col d-flex">
                                            <p class='text-muted'> * * * *</p>
                                            <i class="bi bi-pencil-fill text-danger mx-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal4" aria-labelledby="pi" role="button"></i>
                                            <span id="pi" class="d-none" aria-hidden="true">If you forget the pin Click on this button to change login PIN</span>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal4">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Change PIN</h1>
                                                            
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                             <label class="m-1">Enter Old Pin</label><br>
                                                            <input type="password" class="rounded rounded-pill p-1 mt-2" id="oldpass"><br>
                                                             <label class="m-1">Enter New Pin</label><br>
                                                            <input type="password" class="rounded rounded-pill p-1 mt-2"
                                                                id="newpass">
                                                                <p id="pinerr" class="fw-semibold text-danger"></p>
                                                                <p id="pinerrmsg" class="fw-semibold text-success"></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary"
                                                                onclick="pinchange()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="../javascripts/profile.js"></script>
</body>

</html>
